{% load static %}
<header class="site-header">
    <div class="logo-container">
        <img src="{% static 'core/css/images/jc-logo.png' %}" alt="Logo" class="site-logo">
    </div>
    <nav class="site-nav">
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
            <li><a href="{% url 'category_list' 'esportes' %}">Esportes</a></li>
            <li><a href="{% url 'category_list' 'cultura' %}">Cultura</a></li>
        </ul>
    </nav>
</header>
